body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  background: #673ab7;
  color: white;
  padding: 15px;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #673ab7;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}
